<package-def>
    <class name="КлиентХранилища" file="src/Классы/КлиентХранилища.os"/>
    <class name="ОтветСервиса" file="src/Классы/ОтветСервиса.os"/>
    <class name="ПараметрыСозданияХранилища" file="src/Классы/ПараметрыСозданияХранилища.os"/>
    <class name="ПользовательХранилища" file="src/Классы/ПользовательХранилища.os"/>
    <class name="ВерсияХранилища" file="src/Классы/ВерсияХранилища.os"/>
    <class name="ОтветНТТР" file="src/Классы/ОтветНТТР.os"/>
    <module name="Вспомогательный" file="src/Модули/Вспомогательный.os"/>
    <module name="МенеджерЗапросов" file="src/Модули/МенеджерЗапросов.os"/>
    <module name="МенеджерХранилищ" file="src/Модули/МенеджерХранилищ.os"/>
    <module name="ОбработкаXML" file="src/Модули/ОбработкаXML.os"/>
    <module name="РолиХранилища" file="src/Модули/РолиХранилища.os"/>
    <module name="Коннектор" file="src/Модули/Коннектор.os"/>
    <module name="ПереопределениеOneScript" file="src/Модули/ПереопределениеOneScript.os"/>
</package-def>